<div class="flex flex-col gap-2">
  <div class="bg-green-500"><%= @foglio %></div>
  <div class="bg-green-200">Progetto CARG</div>
  <div class="bg-green-200">legende</div>
  <div class="bg-green-200">
    <.link navigate="carg_campioni" class=" bg-[#98d6a1]">
      <div class="">
        <div class="font-bold  bg-white">Campioni</div>
      </div>
    </.link>
  </div>
</div>
